*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.hero__section
{
    background: url(./Image/hero__section.avif);
    background-size: cover;
    background-position: center;
    min-height: 30vh;
}


.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 16px 48px;
}

.navbar a
{
    color: white;
    text-decoration: none;
}

.navbar__menu_container
{
    display: flex;
    gap: 18px;
}

.navbar__menu_container .user_icon
{
    height: 25px;
    width:25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid white;
}


.hero__section_logo
{
    width: 25vw;
    height: 10vh;
}

.hero__section_container{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    height: calc(60vh - 40px);
    
    
}

.hero__section_title{
    color: white;
    font-size: 30px;
    font-weight: 380;
}

.hero__section_input_container{
    
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    width: 45vw;
}

.hero__section_input_container .user_map{
    height: 5%;
    width:5%;
    text-decoration: none;
    padding: 5px;
}

.input_container_location,
.input_container_search
{
    padding: 5px;
    border: none;
    outline: none;

}

.input_container_location{
    border-right: 2px solid #e0e0e0;
    width: 35%;
}

.input_container_search{
    width: 65%;  
}

.we__offer_container{
    width: 90%;
    /* background-color: red; */
    margin: 5% ;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.we__offer_card{
    /* background-color: aqua; */
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.8s ease;
    margin-right: 12px;
}

.we__offer_card:hover{
    transform: scale(1.1);
}
.we__offer_card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.we__offer_content{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    padding: 15px;

}
.we__offer_content h2{
    color: #303030;
    font-size: 18px;

}
.we__offer_content p{
    
    color: #8f8f8f;
}

.collections h1{
    /* background-color: green; */
    font-weight: 600;
}


.collections .sub__heading_container{
    /* background-color: pink; */
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    gap: 1rem;
    color: #8f8f8f;
}
.sub__heading_container span:nth-child(2){
    color: #ec081f;
    font-size: 13px;
    cursor: pointer;
}

.collections_card_container{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-size: 15px;
    margin-top: 1.2rem;
}

.collections_card_container .card{
    height: 300px;
    min-width: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    color: white;
    
}

.collections_card_container .card .content{
    position: absolute;
    bottom: 10px;
    left: 25px;
    /* padding: 12px; */
    font-size: 0.9rem;
    z-index: 6;
}

.card1{
    background: url('./Image/cric.jpg');
}

.card2{
    /* background-color: red; */
    background: url('./Image/malnad.jpeg');
}
.card3{
    background: url('./Image/newrest.jpg');
}
.overlay{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
        90 deg,
        rgb(227, 12, 12) 0%,
        rgb(234, 8, 185) 50%,
        rgb(205, 241, 6) 85%
    );
    z-index: 5;
}

.get__the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 251, 247);
    padding: 3rem 6rem;
}

.get__the_app .semiContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.get__the_app .semiContainer .left{
    flex: 2;
}
.get__the_app .semiContainer .left img{
    width: 100%;
    object-fit: center;
    object-position: center;

}
.get__the_app .semiContainer .right{
    flex: 3;
}
.content h4{
    /* background-color: darkblue; */
    font-weight: 600;
    letter-spacing: 0.5px;
}
.content span{
    color: #8f8f8f;
}



@media only screen and (max-width:600px){
    .navbar__menu_container .user_icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80vh;
    }
    .hero__section_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        height: calc(80vh-40px);
    }
    .hero__section_title{
        font-size: 20px;
        width: 95%;
    }
    .input_container_location,
    .input_container_search{
        padding: 5px;
        border-radius: 10px;
        width: 95%;
        
    }
    
}